
body {
    margin: 0;
}

#main {
    position: absolute;

    top: 5vh;
    left: 5vw;

    width: 90vw;
    height: 90vh;
}

.ctrls {
    position: absolute;

    top: 75vh;
    left: 0;
    width: 90vw;
    height: 15vh;
}

.modeButton {
    width: calc(33.333% - 20px);
    height: calc(100% - 20px);

    margin: 8px;
    border: 2px solid black;
    border-radius: 4px;

    display: inline-block;
    text-align: center;

    transition: background-color .13s linear;
    background-color: #ffffff;
}

.modeButton:hover {
    cursor: pointer;
    transition: background-color .13s linear;
    background-color: #b4b4b4;
}


.clearButton {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(10vw - 24px);
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;

    padding: 10px;

    text-align: center;

    transition: background-color .13s linear;
    background-color: #ffffff;
}

.clearButton:hover {
    transition: background-color .13s linear;
    background-color: #b4b4b4;
}


.checkButton {
    position: absolute;
    right: 0;
    top: 15%;
    width: calc(10vw - 24px);
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;

    padding: 10px;

    text-align: center;

    transition: background-color .13s linear;
    background-color: #ffffff;
}

.checkButton:hover {
    transition: background-color .13s linear;
    background-color: #b4b4b4;
}


.selectedMode {
    transition: background-color .13s linear;
    background-color: #b4b4b4;
}


.sudokuContainer {
    position: absolute;
    left: 10vw;
    width: 70vw;
}

.board {
    width: min(81vw, 70vh);
    margin: 0 auto;

    height: min(81vw, 70vh);

    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.board-row {
    width: 100%;
    height: 33.333%;
}

.box {
    position: relative;
    display: inline-block;
    width: calc(33.333% - 3px);
    height: calc(100% - 3px);

    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    /* weird chrome bug, otherwise if bottom row of box is
       empty, shifts all other boxes on same row down */
    vertical-align: top;
}

.box-row {
    width: 100%;
    height: 33.333%;
}

.tile {
    position: relative;
    display: inline-block;
    width: calc(33.333% - 1px);
    height: calc(100% - 1px);

    border-left: 1px solid black;
    border-top: 1px solid black;

    vertical-align: top;

    transition: background-color .1s linear;
    background-color: #ffffff;

    /* so you can't highlight the numbers */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.tile:hover {
    cursor: pointer;
}

.empty {
    vertical-align: top;
}


.number_cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.given {
    font-size: 3em;
    color: #000000;
}

.guess {
    font-size: 3em;
    color: #2b268b;
}

.selected {
    transition: background-color .13s linear;
    background-color: #868686;
}

.selected > .guess {
    color: #3c35b8;
}


.pencils {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;

    font-size: 1em;
    color: #237e2c;
    vertical-align: top;
}

.selected > .pencil {
    color: #35b842;
}

.pencils > .pencil {
    position: absolute;
}

.possibles {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    font-size: 1em;
    color: #25757e;
    vertical-align: top;

    overflow: hidden;
}

.selected > .possible {
    color: #38b2c0;
}
